.btnn-action {
font-family: "open-sans", Arial, Helvetica, sans-serif;
font-weight: 400;
font-style: normal;
font-size: 14px;
color: #ffffff;
text-transform: none;
border-top: 4px solid #e4552e;
border-bottom: 4px solid #e4552e;
border-left: none;
border-right: none;
background: #e4552e;
padding: 4px 15px;
padding: 4px 10px\9;
line-height: 20px;
font-weight: normal !important;
cursor: pointer;
text-shadow: none;
-moz-box-shadow: none;
-webkit-box-shadow: none;
box-shadow: none;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
}
.btnn-action:hover,.btnn-action:focus{color:#000;text-decoration:none}

.heading-text {
 font-family: "open-sans", Arial, Helvetica, sans-serif;
font-weight: 400;
font-style: normal;
font-size: 18px;
color: #ffffff !important;
padding: 0;
margin:0 0 15px 0;
}

.parg 
{
font-family: "open-sans", Arial, Helvetica, sans-serif;
font-weight: 400;
font-style: normal;
font-size: 12px;
color: #fff;
margin: 0 0 15px 0;
line-height: normal;
}

.contactform:-moz-placeholder{color:#999}.contactform::-moz-placeholder{color:#999}.contactform:-ms-input-placeholder{color:#999}.contactform::-webkit-input-placeholder{color:#999}.contactform{display:inline;width:90%;padding:6px 12px;font-size:14px;line-height:1.428571429;color:#555;vertical-align:middle;background-color:#fff;border:1px solid #ccc;border-radius:0px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);-webkit-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s}.contactform:focus{border-color:#66afe9;outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6)}.contactform[disabled],.contactform[readonly],fieldset[disabled] .contactform{cursor:not-allowed;background-color:#eee}textarea.contactform{height:auto}.form-group{margin-bottom:15px}.has-warning .help-block,.has-warning .control-label{color:#c09853}.has-warning .contactform{border-color:#c09853;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075)}.has-warning .contactform:focus{border-color:#a47e3c;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #dbc59e;box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #dbc59e}.has-warning .input-group-addon{color:#c09853;background-color:#fcf8e3;border-color:#c09853}.has-error .help-block,.has-error .control-label{color:#b94a48}.has-error .contactform{border-color:#b94a48;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075)}.has-error .contactform:focus{border-color:#953b39;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #d59392;box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #d59392}.has-error .input-group-addon{color:#b94a48;background-color:#f2dede;border-color:#b94a48}.has-success .help-block,.has-success .control-label{color:#468847}
 .has-success .contactform{border-color:#468847;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075)}
 .has-success .contactform:focus{border-color:#356635;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #7aba7b;box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #7aba7b}.has-success .input-group-addon{color:#468847;background-color:#dff0d8;border-color:#468847}.contactform-static{padding-top:7px;margin-bottom:0}.help-block{display:block;margin-top:5px;margin-bottom:10px;color:#737373}form-inline .form-group{display:inline-block;margin-bottom:0;vertical-align:middle}.form-inline .contactform{display:inline-block}

 .success{
	background: #D8FFC0;
	padding: 5px 10px 5px 10px;
	margin: 0px 0px 5px 0px;
	border: none;
	font-weight: bold;
	color: #2E6800;
	border-left: 3px solid #2E6800;
}
 .error {
	background: #FFE8E8;
	padding: 5px 10px 5px 10px;
	margin: 0px 0px 5px 0px;
	border: none;
	font-weight: bold;
	color: #FF0000;
	border-left: 3px solid #FF0000;
}


#phone1{
padding: 6px 2px !important;

}
#ccode{
display:none;
}

@media (max-width:900px){
#ccode {
display:none;
}
}

@media (max-width:640px){
#ccode {
display:none;
}
}

@media (max-width:320px){
#ccode {
display:none;
}

}